@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
/* font-family: 'PT Serif', serif; */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/* font-family: 'Work Sans', sans-serif; */

.menuContainer {
  width: 100%;
  min-height: 839px;
  background: #f3e4e1;
  position: relative;
  /*z-index: -1; */
  margin: 0 auto;
  padding-top: 4rem;
}

.menuContainer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/graphics/graphics-header.svg");
  background-repeat: no-repeat;
  background-position: top;
  z-index: inherit;
}
.menuContainer::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("../../assets/graphics/graphics-footer.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: inherit;
}

.menuh1 {
  padding: 50px;
  font-family: "PT Serif", serif;
  font-size: 2.625rem;
  color: #2F2926;
}

.dataLista {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 60%;
  justify-content: space-between;
  z-index: 2000;
}

.listItem {
  display: flex;
  /* background-color: blueviolet; */
}

.listItem div:first-of-type {
  display: flex;
  /* background-color: rgb(177, 134, 218); */
  justify-content: center;
  align-items: center;
}

.listItem div:last-of-type {
  display: flex;
  /* background-color: rgb(177, 163, 190); */
}

.imgPlus {
  margin-left: 40px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  padding: 2.5px;
    cursor: pointer;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.imgDiv {
    background-color: #2F2926;
    height: 3.75rem;
    width: 3.75rem;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgBag {
    text-align: center;
}

.navIcon {
  height: 15px;
  background-color: #fff;
}

.totalDrinks {
    position: absolute;
    top: -0.1rem;
    right: -0.1rem;
    background-color: #E5674E;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 1.375rem;
    height: 1.375rem;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: .875rem;
}

span {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  line-height: 27, 6px;
}

h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: start;
}
.menucafe {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.cafe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: burlywood;
}
.dodded {
  padding-top: 23px;
  width: 100px;
  border-bottom: 1px dotted #2f2926;
}
